<%= form_with(model: waitlist) do |form| %>
  <% if waitlist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(waitlist.errors.count, "error") %> prohibited this waitlist from being saved:</h2>

      <ul>
        <% waitlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :"Student ID", style: "display: block" %>
    <%= form.text_field :student_code %>
  </div>

  <div>
    <%= form.label :"Course Code", style: "display: block" %>
    <%= form.text_field :course_code %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
