<p style="color: green"><%= notice %></p>

<h1>Admin</h1>

<%= link_to " Edit Admin Details", edit_admin_path(@admins) %>

<!--<div id="admins">-->
  <%# @admins.each do |admin| %>
    <%#= render admin %>
<!--    <p>-->
      <%#= link_to "Show this admin", admin %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%#= link_to "New admin", new_admin_path %>

<%= link_to " View Instructor", instructors_path %>

<br>

<%= link_to " View Student", students_path %>

<br>

<%= link_to " View Course", courses_path %>

