<p style="color: green"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @admin.phone_number %>
</p>

<div>
  <%= link_to "Edit this admin", edit_admin_path %>
</div>
