<p style="color: green"><%= notice %></p>

<p>
  <strong>Student ID:</strong>
  <%= @student.student_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Date of Birth:</strong>
  <%= @student.date_of_birth %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @student.phone_number %>
</p>

<p>
  <strong>Major:</strong>
  <%= @student.major %>
</p>

<div>
  <%= link_to "Edit this student", edit_student_path(@student) %> |
  <%= link_to "Back to students", students_path %>

  <%= button_to "Destroy this student", @student, method: :delete %>
</div>
