<%= form_with(model: enrollment) do |form| %>
  <% if enrollment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(enrollment.errors.count, "error") %> prohibited this enrollment from being saved:</h2>

      <ul>
        <% enrollment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Student ID", style: "display: block" %>
    <%= form.select :student_code, Student.all.collect {|x| [x.student_id]} %>
    <%#= form.text_field :student_code %>
  </div>

  <div>
    <%= form.label "Course Code", style: "display: block" %>
    <%= form.select :course_code, Course.all.collect {|x| [x.course_code]} %>
    <%#= form.text_field :course_code %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
