<p style="color: green"><%= notice %></p>
<b><p style="color: red"><%= alert %></p></b>

<h1>My Course Students</h1>

<table>
  <thead>
  <tr>
    <th>Course Code</th>
    <th>Student Code</th>
    <th>Student Name</th>
    <th>Email</th>
    <th>Date of Birth</th>
    <th>Phone Number</th>
    <th>Major</th>
    <th colspan="1"></th>
  </tr>
  </thead>

  <tbody>
  <% @enrollments.each do |enrollment| %>
    <tr>
      <td><%= enrollment.course_code %></td>
      <td><%= enrollment.student_code %></td>
      <td><%= Student.find_by_id(enrollment.student_id).name %></td>
      <td><%= Student.find_by_id(enrollment.student_id).email %></td>
      <td><%= Student.find_by_id(enrollment.student_id).date_of_birth %></td>
      <td><%= Student.find_by_id(enrollment.student_id).phone_number %></td>
      <td><%= Student.find_by_id(enrollment.student_id).major %></td>
      <!--      <td><%#= link_to 'Show', course %></td>-->
      <!--      <td><%#= link_to 'Edit', edit_course_path(course) %></td>-->
      <td><%= link_to 'Unenroll', unenroll_enrollment_path(enrollment), method: :post, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>



<%# if current_user.user_role != 'student' %>
<%= link_to "New Enrollment", new_enrollment_path %>
<%= link_to "New Waitlist", new_waitlist_path %>
<%# end %>
<%#= link_to 'Back', root_path %>
