<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Instructor name:</strong>
    <%= course.instructor_name %>
  </p>

  <p>
    <strong>Weekday1:</strong>
    <%= course.weekday1 %>
  </p>

  <p>
    <strong>Weekday2:</strong>
    <%= course.weekday2 %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= course.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= course.end_time %>
  </p>

  <p>
    <strong>Course code:</strong>
    <%= course.course_code %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= course.capacity %>
  </p>

  <p>
    <strong>Students enrolled:</strong>
    <%= course.students_enrolled %>
  </p>

  <p>
    <strong>Waitlist capacity:</strong>
    <%= course.waitlist_capacity %>
  </p>

  <p>
    <strong>Students waitlisted:</strong>
    <%= course.students_waitlisted %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= course.status %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= course.room %>
  </p>

</div>
