<%= form_with(model: course) do |form| %>
  <% if course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
        <% course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.user_role == "admin" %>
    <div>
      <%= form.label :Instructor_Id, style: "display: block" %>
      <%= form.text_field :id %>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :weekday1, style: "display: block" %>
    <%= form.select :weekday1,['MON','TUE','WED','THU','FRI'] %>
  </div>

  <div>
    <%= form.label :weekday2, style: "display: block" %>
    <%#= form.text_field :weekday1 %>
    <%= form.select :weekday2,['MON','TUE','WED','THU','None'] %>
  </div>

  <div>
    <%= form.label :start_time, style: "display: block" %>
    <%= form.text_field :start_time , placeholder: "HH:MM"%>
  </div>

  <div>
    <%= form.label :end_time, style: "display: block" %>
    <%= form.text_field :end_time , placeholder: "HH:MM"%>
  </div>

  <div>
    <%= form.label :course_code, style: "display: block" %>
    <%= form.text_field :course_code %>
  </div>

  <div>
    <%= form.label :capacity, style: "display: block" %>
    <%= form.number_field :capacity %>
  </div>


  <div>
    <%= form.label :waitlist_capacity, style: "display: block" %>
    <%= form.number_field :waitlist_capacity %>
  </div>


  <div>
    <%= form.label :room, style: "display: block" %>
    <%= form.text_field :room %>
  </div>


  <div>
    <%= form.submit %>
  </div>
<% end %>
