<h1>Editing course</h1>

<p style="color: green"><%= notice %></p>
<b><p style="color: red"><%= alert %></p></b>

<%= render "form", course: @course %>

<br>

<div>
  <%= link_to "Show this course", @course %> |
  <%= link_to "Back to courses", courses_path %>
</div>
