<p style="color: green"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Instructor Name</th>
    <th>Weekdays</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Course Code</th>
    <th>Students Enrolled</th>
    <th>Capacity</th>
    <th>Students Waitlisted</th>
    <th>Waitlist Capacity</th>
    <th>Status</th>
    <th>Room</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.description %></td>
      <td><%= course.instructor_name %></td>
      <td><%= course.weekdays %></td>
      <td><%= course.start_time %></td>
      <td><%= course.end_time %></td>
      <td><%= course.course_code %></td>
      <td><%= course.students_enrolled %></td>
      <td><%= course.capacity %></td>
      <td><%= course.students_waitlisted %></td>
      <td><%= course.waitlist_capacity %></td>
      <td><%= course.status %></td>
      <td><%= course.room %></td>
      <td><%= link_to 'Show', course %></td>
      <td><%= link_to "Edit this instructor", edit_course_path(course) %></td>
      <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<!--<div id="courses">-->
  <%# @courses.each do |course| %>
    <%#= render course %>
<!--    <p>-->
      <%#= link_to "Show this course", course %>
<!--    </p>-->
  <%# end %>
<!--</div>-->

<%= link_to "New course", new_course_path %>
