<p style="color: green"><%= notice %></p>

<%= render @course %>

<div>
  <% if current_user == 'student' %>
    <%= link_to "Enroll", edit_enrollments_path(@course) %>
    <%= link_to "Unenroll", edit_enrollments_path(@course) %>
  <% else %>
    <%= link_to "Edit this course", edit_course_path(@course) %>
    <%= button_to "Destroy this course", @course, method: :delete %>
  <% end %>

  <%= link_to "Back to courses", courses_path %>
</div>
