<h1>Instructor Courses</h1>

<table>
  <thead>
  <tr>
    <th>Course Code</th>
    <th>Name</th>
    <th>Instructor Name</th>
    <th>Weekdays</th>
    <th>Room</th>
    <th>Time</th>
    <th>Capacity</th>
    <th>Status</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_code %></td>
      <td><%= course.name %></td>
      <td><%= course.instructor_name %></td>
      <td><%= course.weekday1 %></td>
      <% if course.weekday2.nil? %>
        <td><%= "None" %></td>
      <% else %>
        <td><%= course.weekday2 %></td>
      <% end %>
      <td><%= course.room %></td>
      <td><%= course.start_time + ' - ' + course.end_time %></td>
      <td><%= course.students_enrolled.to_s + '/' + course.capacity.to_s %></td>
      <td><%= course.status %></td>
      <td><%= link_to 'Show', course %></td>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<!--<div id="courses">-->
<%# @courses.each do |course| %>
<%#= render course %>
<!--    <p>-->
<%#= link_to "Show this course", course %>
<!--    </p>-->
<%# end %>
<!--</div>-->

<%# if current_user.user_role != 'student' %>
<%= link_to "New course", new_course_path %><br><br>
<%# end %>
<%#= link_to 'Back', root_path %>
<%= link_to "All Courses", courses_path %>
