<p>
  <strong> Code: </strong>
  <%= @course.course_code %>
</p>

<p>
  <strong> Name: </strong>
  <%= @course.name %>
</p>

<p>
  <strong> Description: </strong>
  <%= @course.name %>
</p>

<p>
  <strong> Instructor: </strong>
  <%= @course.instructor_name %>
</p>

<p>
  <strong> Timings: </strong>
  <% if !@course.weekday2.nil? %>
    <%= @course.weekday1 + " " + @course.weekday2 + " during " + @course.start_time + " - " + @course.end_time + " at Room " + @course.room %>
  <% else %>
    <%= @course.weekday1 + " during " + @course.start_time + " - " + @course.end_time + " at " + @course.room %>
  <% end %>
</p>

<p>
  <strong> Capacity: </strong>
  <% if @course.students_enrolled == 0 %>
    <%= @course.students_enrolled.to_s + " students are enrolled out of " + @course.capacity.to_s + " Students" %>
  <% elsif @course.students_enrolled == 1 %>
    <%= @course.students_enrolled.to_s + " student is enrolled out of " + @course.capacity.to_s + " Students" %>
  <% else %>
    <%= @course.students_enrolled.to_s + " students are enrolled out of " + @course.capacity.to_s + " Students" %>
  <% end %>
</p>

<p>
  <strong> Waitlist Capacity: </strong>
  <% if @course.students_waitlisted == 0 %>
    <%= @course.students_waitlisted.to_s + " students are waitlisted out of " + @course.waitlist_capacity.to_s + " Students" %>
  <% elsif @course.students_waitlisted == 1 %>
    <%= @course.students_waitlisted.to_s + " student is waitlisted out of " + @course.waitlist_capacity.to_s + " Students" %>
  <% else %>
    <%= @course.students_waitlisted.to_s + " students are waitlisted out of " + @course.waitlist_capacity.to_s + " Students" %>
  <% end %>
</p>

<p>
  <strong> Status: </strong>
  <%= @course.status %>
</p>

<div>
  <% if current_user.user_role == 'student' %>
    <% if Enrollment.where(student_id: Student.find_by_email(current_user.email).id, course_id: @course.id)[0].nil? and Waitlist.where(student_id: Student.find_by_email(current_user.email).id, course_id: @course.id)[0].nil? %>
      <%= link_to "Enroll", enroll_course_path(@course) %><br><br>
    <% elsif !Enrollment.where(student_id: Student.find_by_email(current_user.email).id, course_id: @course.id)[0].nil? %>
      <%= link_to 'Drop', drop_course_path(@course), method: :post, data: { confirm: 'Are you sure?' } %><br><br>
    <% elsif !Waitlist.where(student_id: Student.find_by_email(current_user.email).id, course_id: @course.id)[0].nil? %>
      <%= link_to 'Remove', drop_waitlist_course_path(@course), method: :post, data: { confirm: 'Are you sure?' } %><br><br>
    <% end %>
  <% elsif current_user.user_role == 'admin' or (current_user.user_role == 'instructor' and Instructor.find_by_user_id(session[:user_id]).id == @course.instructor_id) %>
    <%= link_to "Edit this course", edit_course_path(@course) %><br><br>
    <%= button_to "Destroy this course", @course, method: :delete %> <br>
  <% end %>
  <%= link_to "Back", :back %> <br><br>
  <%= link_to "All Courses", courses_path %>

</div>
